<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mintra's Villa Rental</title>
  <% include ./partials/head %>
</head>
<body>
  <% include ./partials/navbar %>
    <div class="container">
      <h1 class="text-center py-3">About Mintra's Villa</h1>
      <div class="text-center py-3">
        <img class="img-responsive" src="images/livingRoom.jpg" alt="" height="50%" width="50%">
      </div>  
      <div class="card">
        <div class="card-body">
          <p>
            Less than 22 mins to Disney theme parks. Legoland is 38 mins(25 mi) from villa. 
            Universal studios can be reached by taken the I-4 that’s minutes away from villa to 
            get you there. It’s also close to Golf courses, shopping and many fine restaurants. 
            This Villa has all the amenities you would need on your vacation. The Décor was 
            professionally done with a flair of an African safari. Villa can accommodate the 
            maximum of 6 guests quite comfortably. 3 bedroooms 2 bathrooms. Fully equipped kitchen 
            to prepare a gourmet meal. Coffee maker and Keurig machine. For the little ones or big, 
            there is a game room with pool table, air hockey, ping pong table, darts and basketball 
            hoop and 4 gaming consoles with all controllers and board games on premise. Free secure WIFI 
            and cable TV in master bedroom and living room. DVD players, collection of books and magazines. 
            Computer with high speed internet access.
            Private screened pool with Spa and outdoor furnitures. Also BBQ grill. Plush towels, linen, 
            hairdryers and irons/ironing board for your use is provided. High chairs, strollers and baby monitor 
            for the little ones. Laundry room for your convenience. For the golf enthusiast, there are 2 sets of golf 
            clubs.
          </p>
          <p>
            Fun and relaxation awaits you at the villa. See you soon.
          </p>  
        </div>
      </div>
      <div class="py-5">
        <div class="row" style="background-color: #e1e4ed">
          <div class="col-md-4">
            <div class="text-center">
              <strong>Property Type</strong>
            </div>
          </div>
          <div class="col-md-4">
            <ul>
              <li>Villa</li>
            </ul>
          </div>
          <div class="col-md-4">
          </div>      
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="text-center">
              <strong>Floor</strong>
            </div>
          </div>
          <div class="col-md-4">
            <ul>
              <li>0</li>
            </ul>
          </div>
          <div class="col-md-4">
          </div>      
        </div>
        <div class="row" style="background-color: #e1e4ed">
          <div class="col-md-4">
            <div class="text-center">
              <strong>Meals</strong>
            </div>
          </div>
          <div class="col-md-4">
            <ul>
              <li>Guest Provide their own Meals</li>
            </ul>
          </div>
          <div class="col-md-4">
          </div>      
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="text-center">
              <strong>General</strong>
            </div>
          </div>
          <div class="col-md-4">
            <ul>
              <li>Internet Available</li>
              <li>Telephone Available</li>
              <li>Air Conditioning Available</li>
              <li>Heating Available</li>
              <li>Linens Available</li>
              <li>Living Room Available</li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul>
              <li>Hair Dryer Available</li>
              <li>Iron & Board Available</li>
              <li>Towels Provided</li>
              <li>Washing Machine Available</li>
              <li>Clothes Dryer Available</li>
              <li>Garage Available</li>
            </ul>  
          </div>      
        </div>
        <div class="row" style="background-color: #e1e4ed">
          <div class="col-md-4">
            <div class="text-center">
                <strong>Kitchen</strong>
            </div>
          </div>
          <div class="col-md-4">
            <ul>
              <li>Kitchen Available</li>
              <li>Refrigerator Available</li>
              <li>Stove Available</li>
              <li>Oven Available</li>
              <li>Microwave Available</li>
              <li>Dishwasher Available</li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul>
              <li>Dishes and Utensils Available</li>
              <li>Pantry items Available</li>
              <li>Coffee Maker Available</li>
              <li>Toaster Available</li>
              <li>Child Highchair Available</li>
            </ul>
          </div>      
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="text-center">
              <strong>Dining</strong>
            </div>
          </div>
          <div class="col-md-4">
            <ul>
              <li>Dining Area</li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul>
              <li>Seating For 6 People</li>
            </ul>
          </div>      
        </div>
        <div class="row" style="background-color: #e1e4ed">
          <div class="col-md-4">
            <div class="text-center">
              <strong>Bedrooms</strong>
            </div>
          </div>
          <div class="col-md-4">
            <ul>
              <li>3 Bedrooms, Sleeps 6</li>
              <li>King  Size Bed - 1</li>
              <li>Queen Size Bed - 1 </li>
              <li>Twin Bed - 2</li>
            </ul>
          </div>
          <div class="col-md-4">
          </div>      
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="text-center">
              <strong>Entertainment</strong>
            </div>
          </div>
          <div class="col-md-4">
            <ul>
              <li>Television Available</li>
              <li>Satellite/Cable Available</li>
              <li>DVD Player Available</li>
              <li>Video Games Available</li>
              <li>Stero Available</li>
              <li>Games Available</li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul>
              <li>Books Available</li>
              <li>Toys Available</li>
              <li>Game Room Available</li>
              <li>Pool Table Available</li>
              <li>Ping Pong Table</li>
            </ul>
          </div>      
        </div>
        <div class="row" style="background-color: #e1e4ed">
          <div class="col-md-4">
            <div class="text-center">
                <strong>Outdoor Features</strong>
            </div>
          </div>
          <div class="col-md-4">
            <ul>
              <li>Outdoor Grill Available</li>
              <li>Deck/Patio Available</li>
              <li>Lawn/Garden Available</li>
            </ul>
          </div>
          <div class="col-md-4">
          </div>      
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="text-center">
              <strong>Pool & Spa Facilities</strong>
            </div>
          </div>
          <div class="col-md-4">
            <ul>
              <li>Private Pool Available</li>
              <li>Hot Tub Available</li>
              <li>Heated Pool Available</li>
            </ul>
          </div>
          <div class="col-md-4">
          </div>      
        </div>
        <div class="row" style="background-color: #e1e4ed">
          <div class="col-md-4">
            <div class="text-center">
                <strong>Suitability</strong>
            </div>
          </div>
          <div class="col-md-4">
            <ul>
              <li>Children Welcome, Non-Smoking Only</li>
              <li>Wheel Chair Inaccessible</li>
              <li>No Pets Allowed</li>
              <li>Minimum Age Limit for Renters</li>
            </ul>
          </div>
          <div class="col-md-4">
          </div>      
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="text-center">
              <strong>Themes</strong>
            </div>
          </div>
          <div class="col-md-4">
            <ul>
              <li>Adventures</li>
              <li>Away From it</li>
              <li>Family</li>
              <li>Romantic</li>
              <li>Tourist Attractions</li>
            </ul>
          </div>
          <div class="col-md-4">
          </div>      
        </div>
        <div class="row" style="background-color: #e1e4ed">
          <div class="col-md-4">
            <div class="text-center">
              <strong>Additional Features</strong>
            </div>
          </div>
          <div class="col-md-4">
            <ul>
              <li>
                <strong>House Rules</strong>
              </li>
              <li>Check in: 1600/Check out: 10:00</li>
              <li>Max Occupancy: 6</li>
              <li>Max Adults: 6</li>
              <li>Min Age of Primary Renter: 26</li>
              <li>Children Welcome</li>
            </ul>
            <ul>
              <li>
                <strong>Floor Area:</strong> 1896 sq ft
              </li>
            </ul>
            <ul>
              <li><strong>Outside:</strong></li>
              <li>Terrace</li>
              <li>Garden</li>
              <li>BBQ</li>
            </ul>
            <ul>
              <li>
                <strong>Attractions</strong>
              </li>
              <li>Cinemas</li>
              <li>Restaurants</li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul>
              <li>
                <strong>Leisure Activities</strong>
              </li>
              <li>Walking</li>
            </ul>
            <ul>
              <li>
                <strong>Local Services & Business</strong>
              </li>
              <li>Groceries</li>
              <li>Hospital</li>
            </ul>
            <ul>
              <li>
                <strong>Sports & Adventure Activities</strong>
              </li>
              <li>Golf Pass Optional</li>
              <li>Swimming</li>
            </ul>
            <ul>
              <li>
                <strong> 
                  Notes: Entire villa professionally themed. Villa is just
                  a short drive to all Disney attractions.
                </strong>
              </li>
            </ul>
          </div>      
        </div>
      </div>
    </div> <!--container--> 
    <% include ./partials/footer %>
  </body>
</html>
