<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mintra Villa Rental</title>
  <% include ./partials/head %>
</head>
<body>
  <% include ./partials/navbar %>
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading"> Mintra Villa Rental</h1>
        </div>
      </section>
      <div class="row">
        <div class="col">
          <h3>About</h3>
          <h4>Hours</h4>
          <p>Always open</p>
          <h3>Contact Info</h3>
        </div>
      </div>
    </main>
    <hr />
    <footer class="text-muted">
      <div class="container">
        <p>Mintra 2018</p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  </body>
</html>

</body>
</html>