<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mintra's Villa Rental</title>
  <% include ./partials/head %>
  <!-- <style>
    @media only screen and (max-width: 500px) {
    }
  </style> -->
</head>
<body>
  <% include ./partials/navbar %>
    <div class="container">
      <h1 class="text-center py-3">Accommodations</h1>
      <div class="text-center py-3">
        <img class="img-responsive" src="images/bedroom1.jpg" alt="" height="50%" width="50%">
      </div>  
      <div class="card">
        <div class="card-body">
          <p>
            There are two family lounge areas. The first is found to the rear of the bedrooms 
            at the front of the property. Here you will find sofa seating for four people around 
            a flatscreen TV. Behind this is the second lounge, with windows to the pool area, which 
            has sofa seating for five guests also around a flatscreen TV. Across from this lounge is 
            the modern open-plan kitchen with a breakfast bar for two people. The dining area, with 
            its table and chairs for six guests, is between these and has patio doors to the pool deck.
          </p>
          <p>
            All the Bedrooms to this property are located at the front. The Master bedroom has a
            cheetah theme, it contains a King-size bed and en-suite bathroom. Bedroom 2 has a 
            Queen-size bed and a zebra theme. It is across a short hall from Bedroom 3 that has windows
            to the front of the villa. This room has Twin beds and a leopard theme. For guests’ added 
            comfort and convenience, all rooms have flatscreen TVs and ceiling fans.
          </p>  
        </div>
      </div>
    </div> <!--container--> 
    <% include ./partials/footer %>
  </body>
</html>
