<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Mintra Villa Rental</title>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/navbar %>
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="text-center"><h1>Places to Visit</h1></div>
        <div class="row">
          <div class="col-md-4">
            <a href="https://buschgardens.com/tampa/">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://i.ytimg.com/vi/g4kIdt1shQ8/maxresdefault.jpg" alt="Card image cap" height=200 width=300>
                <div class="card-body">
                  <p class="card-text">Bush Gardens is just X minutes away</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="https://disneyworld.disney.go.com/">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" 
                src="https://fthmb.tqn.com/lbyj7SuUcnHN8JsDneoTEdjb_9A=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/DisneyWorld_MickeyGang_Castle-567e85275f9b586a9eb6b098.jpg" 
                alt="Card image cap" height=200 width=300>
                <div class="card-body">
                  <p class="card-text">Disney World is X minutes away</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="https://www.universalorlando.com/web/en/us/index.html">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" 
                src="http://ticketval.com/wp-content/uploads/2017/01/holidays-in-usa-florida-theme-parks-universal-studios-florida-1.jpg" 
                alt="Card image cap" height=200 width=300>
                <div class="card-body">
                  <p class="card-text">Universal Studios is x minutes away</p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-4">
            <a href="https://seaworld.com/orlando/">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" 
                src="https://blog-cdn.touringplans.com/wp-content/uploads/2016/11/SeaWorld_Logo.jpg" 
                alt="Card image cap" height=200 width=300>
                <div class="card-body">
                  <p class="card-text">SeaWorld is x minutes away</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="https://adventureisland.com/">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" 
                src="https://files.greatermedia.com/uploads/sites/59/2018/05/Adventure-Island.png"
                alt="Card image cap" height=200 width=300>
                <div class="card-body">
                  <p class="card-text">Adventure Island is x minutes away</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="https://www.legoland.com/florida/">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" 
                src="https://img.grouponcdn.com/deal/3Fua74jXG5H3LtCZ5yb5ee6uVjjX/3F-1500x900/v1/c700x420.jpg" 
                alt="Card image cap" height=200 width=300>
                <div class="card-body">
                  <p class="card-text">LEGOland is x minutes away</p>
                </div>
              </div>
            </a>
          </div><!-- end of cards-->
        </div><!--row -->
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <h3 class="text-center">
              Fun Things to do in Davenport, Florida
            </h3>
            <ul>
              <li>
                Go Shopping at Posner Park Shopping Mall Which Features, Dick's Sporting Goods, 
                Ross, Michaels, Best Buy, JC Penney, Dollar Tree, Sally Beauty, GNC, Ashley Furniture, 
                Payless Shoes, Staples & Many More Retail Stores & Restaurants.
              </li>
              <li>
                Relax With a Hot Air Balloon Ride Over The Green Swamp at Sunrise.
              </li>
              <li>
                Order a Fresh Homemade Pizza To Go From Local Favorite Giovannis Pizza & Subs at Deer Creek
              </li>
              <li>
                Take the Kids to Time In Indoor Playground to Play, Create and Learn With Other Kids
              </li>
              <li>
                Visit Disney Springs and Explore Dining, Shopping & Entertainment
                Play Golf at Beautiful Providence Golf Club & Enjoy Lunch at the Clubhouse With Friends.
              </li>
              <li>
                Take a Break at Cinepolis Movie Theater Which Features 9 Screen Upscale Theater With 
                IMAX, Reserve Seating, Gourmet Snacks & Full Bar.
              </li>
              <li>
                Enjoy a Frozen Yogurt, Ice Cream Treat or Real Fruit Smoothie From YoDaddio Frozen Yogurt at Posner Park.
              </li>
              <li>
                Drive Over to True Blue Winery and Try Their Delicious Wines & Outdoor Patio With Brick Oven.
              </li>
              <li>
                Pack a Picnic Lunch and Head to Northeast Regional Park Located On Hwy 27. This Park Offers 
                Basketball, Tennis, Soccer, Racquetball, Running & Walking Trails, Playground for Kids, Boat 
                Ramp & Lake.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div >
      
    </div>
    <% include ./partials/footer %>
  </body>
</html>