<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mintra's Villa Rental</title>
  <% include ./partials/head %>
  <!-- <style>
    @media only screen and (max-width: 500px) {
    }
  </style> -->
</head>
<body>
  <% include ./partials/navbar %>
    <div class="container">
      <h1 class="text-center py-3">Facilities</h1>
      <div class="text-center py-3">
        <img class="img-responsive" src="images/sideviewOfPool.jpg" alt="" height="50%" width="50%">
      </div>  
      <div class="card">
        <div class="card-body">
          <p>
            The south-facing pool deck boasts ample seating for you and your family to use
            as you soak up the Florida sun, or enjoy an alfresco meal away from the parks.
            Here you will find a pool and spa which benefits from having no overlooking neighbours.
          </p>
          <p>
            The games room contains table football, air hockey, table tennis, a basketball game 
            in addition to the games consoles located in the first family lounge and Bedroom 3, 
            perfect for those with some energy left to burn or those with a competitive spirit!
          </p>  
        </div>
      </div>
    </div> <!--container--> 
    <% include ./partials/footer %>
  </body>
</html>
