<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <% include ./partials/head %>
</head>
<body>
  <% include ./partials/navbar %>
  <div class="wrapper">
    <div class="menu">
      <div>
        <img class="menuImage" src="images/outsideHome.jpg" height="200" width="200" style="padding-top:10px"/>
      </div>
    </div>
    <div class="jumbotron jumbotron-fluid content"> 
      <h1 class="text-center"> Mintra Villa Rental</h1>
      <div>
        <img src="images/pool2.jpg" alt="" height="400" width="100%"/>
        <p style="margin:15px">
          Located in Four Corners is Mintra’s Villa. <br />
          Just 24 mins (17 mi) to Disney theme parks. Legoland is 38 mins(25 mi) from villa. 
          Universal studios can be reached by taken the I-4 that’s minutes away from villa to 
          get you there. It’s also close to Golf courses, shopping and many fine restaurants. 
          This Villa has all the amenities you would need on your vacation. The Décor was 
          professionally done with a flair of an African safari. Villa can accommodate the 
          maximum of 6 guests quite comfortably. 3 bedroooms 2 bathrooms. Fully equipped 
          kitchen to prepare a gourmet meal. There is a Coffee and Keurig machine. For the 
          little ones or big, there is a game room which has a pool table , air hockey table, 
          ping pong table and an electric basket ball hoop . For the gaming enthusiast, there 
          are 4 gaming consoles with all controllers and board games. For the golfer, there are 
          2 sets of golf clubs. Free secure WIFI and cable TV. Cordless telephone for local calls 
          is provided. DVD players , collection of books and magazines. Computer with high speed 
          internet access. High chairs and strollers also on premise. Laundry room is available for 
          your convenience. 
          Private screened pool with Spa and outdoor furnitures, also gas BBQ. Plush towels, linen , 
          hairdryers and irons/ironing board for your use is provided .
          Fun and relaxation awaits you at the villa.
          <br />
          See you soon.
        </p>
      </div>
    </div>
    <div class="imageArea">
      <h3 class="text-center">QuickView</h3>
      <ul>
        <li>Located in the heat of Miami</li>
        <li>3 bedrooms</li>
        <li>2 baths</li>
        <li>Free WIFI</li>
        <li>Free Cable TV</li>
        <li>Fully Equiped Kitchen</li>
        <li>Game room</li>
      </ul>
    </div>
    <div class="book">
      <div class="bookArea text-center">
       <p>
        Looking to book your next vacation? Look no further!
       </p> 
      </div>
      <button type="button" class="btn btn-primary btn-lg btn-block">Book Now</button>
    </div>
  </div>
  <footer class="text-muted">
    <div class="container">
      <p>Mintra 2018</p>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
  crossorigin="anonymous"></script>
  </body>
</html>
</body>
</html>