<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <% include ./partials/head %>
  <link rel="stylesheet" href="css/homePage.css">
</head>
<body>
  <% include ./partials/navbar %> 
  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('images/home.jpg')">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('images/pool2.jpg')">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('images/gameRoom2.jpg')">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <div class="container">
    <h1 class="my-4 text-center">Welcome to Mintra's Villa</h1>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            Located in a quiet residential community called Four Corners 
            that’s less than 22 minutes from Disney Theme Parks , 30 minutes from 
            Universal Studios , close to Golf Courses , and many fine restaurants 
            that’s on hwy 192. Easy access to I-4 from US 27. This villa has all 
            the amenities you would need on your vacation. Professionally decorated 
            with a flair of an African Safari . There are 3 bedrooms , 2 bathrooms, 
            Dual living rooms, Dining room, Game room which has a pool table, ping pong 
            table , air hockey, and a basketball hoop. Laundry room . A fully equipped 
            kitchen , breakfast bar, Keurig and coffee pot. Private screened south facing 
            pool / spa, outdoor furnitures and a gas BBQ .  Also a computer with high speed 
            internet access and free secure wifi. Cable tv in living room and master bedroom. 
            Gaming consoles with games . Dvd players , collection of books and magazines 
            and  board games. . For the little ones, there are 2 high chairs, baby strollers 
            and baby monitor on premise. For the golf enthusiast, there are two sets of golf 
            clubs. Also includes towels, linen,  hairdryers,  irons/ironing board.
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-3 mb-3">
        <div class="card h-100">
          <h4 class="card-header">
            Location
          </h4>
          <div class="card-body">
            <p class="card-text">
              Four Corners, Davenport Florida
            </p>
          </div>
          <div class="card-footer">
            <a href="/about" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-3">
        <div class="card h-100">
          <h4 class="card-header">Accommodations</h4>
          <div class="card-body">
            <ul class="card-text">
              <li>3 Bedrooms</li>
              <li>2 Bathrooms</li>
              <li>2 Living Rooms</li>
              <li>Dining Room</li>                  
            </ul>
            <p>
              All the Bedrooms to this property are located at the front.
               The Master bedroom has a cheetah theme, it contains a King-size bed 
               and en-suite bathroom. Bedroom 2 has a Queen-size bed and a zebra theme. 
               It is across a short hall from Bedroom 3 that has windows to the front of 
               the villa. This room has Twin beds and a leopard theme. For guests’ added 
               comfort and convenience, all rooms have flatscreen TVs and ceiling fans.
            </p>  
          </div>
          <div class="card-footer">
            <a href="/about" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-3">
        <div class="card h-100">
          <h4 class="card-header">Facilities</h4>
          <div class="card-body">
            <ul class="card-text">
              <li>Air Conditioning</li>
              <li>Game Room</li>
              <li>Washer/Dryer</li>
              <li>Private South Facing Pool</li>
              <li>Spa</li>
              <li>Free WIFI</li>
              <li>South or West Facing</li>                  
            </ul>
          </div>
          <div class="card-footer">
            <a href="/about" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-3">
        <div class="card h-100">
          <h4 class="card-header">Additional Amendities</h4>
          <div class="card-body">
            <ul class="card-text">
              <li>Fully Equipped Kitchen</li>
              <li>Cable TV</li>
              <li>DVD Players</li>
              <li>Computer</li>
              <li>Collection of books/magazines</li>
              <li>BBQ Grill</li>
              <li>Outdoor furniture</li>
              <li>Golf Equipment</li>
            </ul>
          </div>
          <div class="card-footer">
            <a href="/about" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-6">
        <h2>Four Corners Community</h2>
        <p>Conveniently located near some of the world's best attractions:</p>
        <ul>
          <li>Walt Disney World</li>
          <li>Universal Studios</li>
          <li>LEGOLand</li>
          <li>SeaWorld</li>
          <li>Islands of Adventure</li>
          <li>Busch Gardens</li>
          <li>and many more!</li>
        </ul>
      </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <h4>Book your stay with us today!</h4>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-primary btn-block" href="/book">Book</a>
      </div>
    </div>
  </div>
  <% include ./partials/footer %> 
  </body>
</html>
