<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mintra's Villa Rental</title>
  <% include ./partials/head %>
</head>
<body>
  <% include ./partials/navbar %>
    <div class="container">
      <h1 class="text-center py-3">Location</h1>
      <div class="text-center py-3">
        <img class="img-responsive" src="images/fourCorners.jpg" alt="" height="50%" width="50%">
      </div>  
      <div class="card">
        <div class="card-body">
          <p>
            This south-facing three bedroom villa on the Four Corners community 
            has a jungle theme! The bedrooms have been decorated with zebra, cheetah 
            and leopard prints for those who would love a taste of a safari during 
            their stay in Florida. From the community it will take a 20-minute car 
            journey to get to the Disney parks. Those heading to SeaWorld or Universal 
            Studios will be on the road for around half and hour. To the north is the US192 
            with a wide range of shops, bars and restaurants which should cater to all tastes 
            and budgets. For those hours spent back at your villa, you won’t be short of things 
            to do either. Be it spending time around your private pool and spa, entertaining 
            yourself in the games room, or playing on the games consoles found around the property.
          </p>
          <ul>
              <li>Airport (Orlando International) - 30 - 35 mins</li>
              <li>Airport (Sanford) - 60 - 65 mins</li>
              <li>Busch Gardens - 55 - 60 mins</li>
              <li>Disney's Animal Kingdom - 20 - 25 mins</li>
              <li>Disney's Epcot - 20 - 25 mins</li>
              <li>Disney's Hollywood Studios - 15 - 20 mins</li>
              <li>Disney's Magic Kingdom - 20 - 25 mins</li>
              <li>Island of Adventure - 30 - 35 mins</li>
              <li>SeaWorld - 20 - 25 mins</li>
              <li>Universal Studios - 25 - 30 mins</li>
          </ul> 
        </div>
      </div>
    </div> <!--container--> 
    <% include ./partials/footer %>
  </body>
</html>
