<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mintra Villa Rental</title>
  <% include ./partials/head %>
</head>
<body>
  <% include ./partials/navbar %>
    <main role="main">
      <div class="container">
        <h1 class="my-4 text-center text-lg-left">Gallery</h1>
        <div class="row text-center text-lg-left">
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=pool2" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/pool2.jpg" >
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=hallway" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/hallway.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=fullLivingRoom" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/fullLivingRoom.jpg" >
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=livingRoom" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/livingRoom.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=outsideHome" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/outsideHome.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=livingRoom2" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/livingRoom2.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=bedroom1" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/bedroom1.jpg" >
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=bedroom2" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/bedroom2.jpg" >
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=bedroom3" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/bedroom3.jpg" >
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=bathroom1" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/bathroom1.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=bathroom2" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/bathroom2.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=bathroom3" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/bathroom3.jpg">
            </a>
          </div>
        </div>
      </div>  
    </main>
    <hr />
    <% include ./partials/footer %>
  </body>
</html>
</body>
</html>