<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mintra Villa Rental</title>
  <% include ./partials/head %>
</head>
<body>
  <% include ./partials/navbar %>
    <main role="main">
      <div class="container">
        <h1 class="my-4 text-center text-lg-left">Gallery</h1>
        <div class="row text-center text-lg-left">
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/pool2.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/hallway.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/fullLivingRoom.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/livingRoom.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/outsideHome.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/livingRoom2.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/bedroom1.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/bedroom2.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/bedroom3.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/bathroom1.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/bathroom2.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/bathroom3.jpg">
            </a>
          </div>
        </div>
    
        </div>
    


      <!-- <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="images/pool2.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">We can add some description here if you want or we can just have the image</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="images/hallway.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">We can add some description here if you want or we can just have the image</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="images/fullLivingRoom.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">We can add some description here if you want or we can just have the image</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="images/livingRoom.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">We can add some description here if you want or we can just have the image</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="images/outsideHome.jpg" alt="Card image cap" height=220>
                <div class="card-body">
                  <p class="card-text">We can add some description here if you want or we can just have the image</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="images/livingRoom2.jpg" alt="Card image cap" height=220>
                <div class="card-body">
                  <p class="card-text">We can add some description here if you want or we can just have the image</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="images/bedroom1.jpg" alt="Card image cap" height=220>
                <div class="card-body">
                  <p class="card-text">We can add some description here if you want or we can just have the image</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="images/bedroom2.jpg" alt="Card image cap" height=220>
                <div class="card-body">
                  <p class="card-text">We can add some description here if you want or we can just have the image</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="images/bedroom3.jpg" alt="Card image cap" height=220>
                <div class="card-body">
                  <p class="card-text">We can add some description here if you want or we can just have the image</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="images/bathroom1.jpg" alt="Card image cap" height=220>
                <div class="card-body">
                  <p class="card-text">We can add some description here if you want or we can just have the image</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="images/bathroom2.jpg" alt="Card image cap" height=220>
                <div class="card-body">
                  <p class="card-text">We can add some description here if you want or we can just have the image</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="images/bathroom3.jpg" alt="Card image cap" height=220>
                <div class="card-body">
                  <p class="card-text">We can add some description here if you want or we can just have the image</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

    </main>
    <hr />
    <footer class="text-muted">
      <div class="container">
        <p>Mintra 2018</p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  </body>
</html>

</body>
</html>