<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Mintra Villa Rental</title>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/navbar %>
    <a href="/pictures" >Back to Pictures</a>
    <img src="images/<%=id%>" class="img-fluid img-thumbnail rounded mx-auto d-block">
    <hr />
    <% include ./partials/footer %>
  </body>
</html>