<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Mintra Villa Rental</title>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/navbar %>
    <!-- <div class="container"> -->
      
        <!-- <div class="col-md-8"> -->
          <a href="/pictures" >Back to Pictures</a>
          <img src="images/<%=id%>" class="img-fluid img-thumbnail rounded mx-auto d-block">
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
    <hr />
    <footer class="text-muted">
      <div class="container">
        <p>Mintra 2018</p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  </body>
</html>