<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mintra Villa Rental</title>
  <% include ./partials/head %>
</head>
<body>
  <% include ./partials/navbar %>
    <main role="main">
      <div class="container">
        <h1 class="my-4 text-center text-lg-left">Gallery</h1>
        <div class="row text-center text-lg-left">
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=pool2" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/pool2.jpg" >
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=hallway" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/hallway.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=fullLivingRoom" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/fullLivingRoom.jpg" >
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=livingRoom" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/livingRoom.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=outsideHome" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/outsideHome.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=livingroom2" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/livingroom2.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=bedroom1" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/bedroom1.jpg" >
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=bedroom2" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/bedroom2.jpg" >
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=bedroom3" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/bedroom3.jpg" >
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=bathroom1" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/bathroom1.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=bathroom2" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/bathroom2.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=bathroom3" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/bathroom3.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=basketballcourt" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/basketballcourt.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=playground" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/playground.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=outsideTable" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/outsideTable.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=fourCorners" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/fourCorners.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=sideviewOfPool" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/sideviewOfPool.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=wideViewKitchen" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/wideViewKitchen.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=newPool" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/newPool.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=outside1" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/outside1.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=pooly5" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/pooly5.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=pooly4" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/pooly4.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=pooly3" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/pooly3.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=pooly2" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/pooly2.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=pooly1" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/pooly1.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=longPool" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/longPool.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=table" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/table.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=streetView" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/streetView.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=bedRoomy3" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/bedRoomy3.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=bedRoomy4" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/bedRoomy4.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=DineRoom" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/DineRoom.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=Kitch1" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/Kitch1.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=Kitch2" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/Kitch2.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=LRoom1" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/LRoom1.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=LRoom2" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/LRoom2.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=LRoom3" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/LRoom3.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=LRoom4" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/LRoom4.jpg">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="/image?id=poolChairs" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="images/poolChairs.jpg">
            </a>
          </div>
        </div>
      </div>  
    </main>
    <hr />
    <% include ./partials/footer %>
  </body>
</html>
</body>
</html>