<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mintra's Villa Rental</title>
  <% include ./partials/head %>
  <script src="https://use.fontawesome.com/7d9448fca4.js"></script>
</head>
<body>
  <% include ./partials/navbar %>
    <div class="container">
      <h1 class="text-center py-3">Reviews</h1> 
      <div class="card" style="margin-bottom:2%;">
        <div class="card-body">
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <span class="text-right">Dec 1 - April 30 2019</span>
          </p>
          <p>
            I stayed at Mintra's place for six months
            and was so glad I chose it for my long-term stay.
            The house is roomy (particurly the large kitchen),
            comfortable and quiet. I settled in very quickly
            upon arrival thanks to a well-stocked kitchen,lots of
            linens,plenty of furniture,cable TV and wifi. The house
            is located near a couple of Publix grocery stores,
            drug stores,gas stations,etc. A pool in the back,game tables
            in the garage and a location near the parks made it a 
            great place for entertaining. I would give Mintra and her
            management company 10 stars for their responsiveness to 
            any issues that arose. My whole experience staying at Mintra's 
            place was a pleasure, and I wouldn't hesitate to stay there again.
          </p>
        </div>
      </div>
      <div class="card" style="margin-bottom:2%;">
        <div class="card-body">
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <span class="text-right">Dec 1 - April 30 2019</span>
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus 
            erat lacus, faucibus id maximus in, consectetur eu risus. Praesent 
            rhoncus sapien et mauris pulvinar fermentum. Duis consequat orci id 
            euismod congue. Ut turpis justo, pretium id orci sed, cursus blandit 
            ex. Duis a sapien urna. Suspendisse rutrum ante in elementum euismod. 
            Nunc orci lectus, consequat et vehicula at, mattis eleifend urna. In 
            hac habitasse platea dictumst. Praesent lobortis nec dolor nec dignissim. 
            Phasellus interdum, enim quis lobortis consequat, ex eros egestas elit, 
            non malesuada lectus risus eget est. Aenean at lorem nec lorem pellentesque 
            tincidunt sit amet in enim.
          </p>
        </div>
      </div>
      <div class="card" style="margin-bottom:2%;">
        <div class="card-body">
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <span class="text-right">Dec 1 - April 30 2019</span>
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus 
            erat lacus, faucibus id maximus in, consectetur eu risus. Praesent 
            rhoncus sapien et mauris pulvinar fermentum. Duis consequat orci id 
            euismod congue. Ut turpis justo, pretium id orci sed, cursus blandit 
            ex. Duis a sapien urna. Suspendisse rutrum ante in elementum euismod. 
            Nunc orci lectus, consequat et vehicula at, mattis eleifend urna. In 
            hac habitasse platea dictumst. Praesent lobortis nec dolor nec dignissim. 
            Phasellus interdum, enim quis lobortis consequat, ex eros egestas elit, 
            non malesuada lectus risus eget est. Aenean at lorem nec lorem pellentesque 
            tincidunt sit amet in enim. 
          </p>
        </div>
      </div>
    </div> <!--container--> 
    <% include ./partials/footer %>
  </body>
</html>
