<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mintra's Villa Rental</title>
  <% include ./partials/head %>
  <script src="https://use.fontawesome.com/7d9448fca4.js"></script>
</head>
<body>
  <% include ./partials/navbar %>
    <div class="container">
      <h1 class="text-center py-3">Reviews</h1> 
      <div class="card" style="margin-bottom:2%;">
        <div class="card-body">
          <h3>Chinwe</h3>
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <span class="text-right">June 2018</span>
          </p>
          <p>
           Wonderful villa, exceptional service and all around
           fantastic experience. Mintra is gracious,responds 
           quickly and gives you the VIP treatment.
          </p>
        </div>
      </div>
      <div class="card" style="margin-bottom:2%;">
        <div class="card-body">
          <h3>Corina</h3>
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <span class="text-right">August 2018</span>
          </p>
          <p>
            This is a top home! Highly recommended. Very satisfied
            in every way. We enjoyed it immensely. When we come
            back to Orlando, we will certainly try to book you
            again.
          </p>
        </div>
      </div>
      <div class="card" style="margin-bottom:2%;">
        <div class="card-body">
          <h3>Lisa</h3>
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <span class="text-right">Dec 1 - April 30 2019</span>
          </p>
          <p>
            I stayed at Mintra's place for six months
            and was so glad I chose it for my long-term stay.
            The house is roomy (particurly the large kitchen),
            comfortable and quiet. I settled in very quickly
            upon arrival thanks to a well-stocked kitchen,lots of
            linens,plenty of furniture,cable TV and wifi. The house
            is located near a couple of Publix grocery stores,
            drug stores,gas stations,etc. A pool in the back,game tables
            in the garage and a location near the parks made it a 
            great place for entertaining. I would give Mintra and her
            management company 10 stars for their responsiveness to 
            any issues that arose. My whole experience staying at Mintra's 
            place was a pleasure, and I wouldn't hesitate to stay there again.
          </p>
        </div>
      </div>
      <div class="card" style="margin-bottom:2%;">
          <div class="card-body">
            <h3>Valandra</h3>
            <p>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <span class="text-right">October 11 2019</span>
            </p>
            <p>
             Great stay! Nice house in a great location. Very kid friendly!
             Will definitely use Evolve again!
             <br/>
             *This review was originally posted on Airbnb for a stay in 
             October 2019
            </p>
          </div>
        </div>
    </div> <!--container--> 
    <% include ./partials/footer %>
  </body>
</html>
