<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mintra's Villa Rental</title>
  <% include ./partials/head %>
</head>
<body>
  <% include ./partials/navbar %>
  <h1 class="text-center">Terms and Conditions</h1> 
  <div class="container"> 
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3>CONTRACT OF HIRE</h3>
        <p>
          The hiring contract shall be between the clients and the owners of the property.
          They shall be deemed to be made subject to these terms and conditions. The
          contract of hire is not effective until the client receives a written confirmation of
          booking.     
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3>INITIAL PAYMENT</h3>
        <p>
          Bookings will be confirmed upon receipt of the required deposit payment and the signed 
          booking form. However, if the booking is made within ten weeks of the holiday commencement
          date, the full amount of rental and security deposit will be required on booking.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3>SECURITY DEPOSIT</h3>
        <p>
          A returnable deposit of $300.00 per week is required, to be paid with the balance
          of the rental. This is to be held as security against return of keys, inventory
          damage, excess cleaning costs, long distance telephone calls where applicable
          etc. This deposit will be returned to the client subject to a satisfactory inspection
          by the management company approximately 28 days after departure from the
          accommodation booked.    
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3>BALANCE PAYMENT</h3>
        <p>
          The balance of hire will be due ten weeks before the holiday commencement date.<strong> Mintra’s 
          Villa Rental </strong> reserves the right to cancel a holiday where full payment has not been received 
          ten weeks prior to the holiday commencement date. Bookings made within ten weeks of departure 
          require payment in full.  
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3>CONFIRMATION OF BOOKING</h3>
        <p>
          Once a confirmation has been issued the client is responsible for the total price of the property 
          rental as shown on the confirmation. Signing of the booking form constitutes acceptance of these 
          terms and conditions by the client.   
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3>CANCELLATION</h3>
        <p>
          Provided Mintra’s Villa Rental receives written notice of
          cancellation not less than ten weeks before the commencement date of the hire,
          the client will not be required to pay the full balance, the amount of the deposit will however be lost. 
          All cancellations must be notified in writing at the earliest
          opportunity. In the event of the client having to cancel the booking, the following charges will apply:
          <ul>
            <li>10 weeks or more prior to departure Deposit only</li> 
            <li>Between 8 – 10 weeks prior to departure 50% of rental</li> 
            <li>8 weeks or less prior to departure 100% of rental</li> 
          </ul>  
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3>LIABILITY</h3>
        <p>
          <ul>
            <li>
              <strong>Mintra’s Villa Rental</strong> cannot accept liability for acts or omissions of
              our principals over whom we have no control (such as airlines, car hire
              companies).   
            </li>
            <li>
              <strong>Mintra’s Villa Rental</strong> accepts no liability for the loss
              of services, such as electricity or water supplies, nor the consequences of the
              actions or omissions of persons who may control the supply of main services.  
            </li>
            <li>
              <strong>Mintra’s Villa Rental</strong> cannot accept any liability whatsoever for any injury 
              sustained by guests or any other visitors to the home or swimming pool or for 
              any loss or damage, however caused, to any property bought to the premises. 
            </li>
            <li>
              <strong> Mintra’s Villa Rental</strong> are not always able to control all of the components 
              of the facility and it is possible that an advertised facility may be withdrawn
              or changed due to circumstances beyond our control and for which <strong>Mintra’s Villa 
              Rental</strong> cannot accept liability.
            </li>            
          </ul>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3>COMPLAINTS</h3>
        <p>
          In the unlikely event that during the course of the holiday the client has reason for complaint 
          or dissatisfaction, it must be reported to the Management Company immediately to allow remedial 
          action to be taken. Any action taken by the clients without consultation with the Management Company 
          is done purely at the client’s own cost. Any complaints not reported at the destination and to <strong>Mintra’s 
          Villa Rental</strong> on return will not be addressed
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3>INSECTS</h3>
        <p>
          As Florida is a tropical state, insects and small creatures are inevitable and are
          not cause for complaint. Their presence is no reflection on the cleanliness of the
          property. Every home is treated regularly as part of a pest control program   
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3>ACCOMODATION</h3>
        <p>
          The accommodation provided is only for the use of persons named by the client
          on the booking form and subletting, sharing or assigning is <strong>prohibited </strong>. Under 
          no circumstances may more than the maximum number of persons booking occupy the 
          property, except by prior written agreement. <strong>Mintra’s Villa Rental</strong> RESERVE THE RIGHT 
          TO REFUSE ADMITTANCE IF THIS CONDITION IS NOT OBSERVED.  
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3>CONSTRUCTION</h3>
        <p>
          As <strong>Mintra’s Villa Rental</strong> home is in a residential area, from
          time to time there may be construction work occurring. <strong>Mintra’s Villa Rental   
          </strong>will endeavour wherever possible to inform you of such work, however, <strong>Mintra’s 
          Villa Rental </strong>cannot accept liability for unforeseen works.     
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3>CLIENT'S RESPONSIBILITIES</h3>
        <p>
          The client is responsible for the property and is expected to take responsible care
          of it. All equipment, utensils etc. must be left clean and tidy at the end of the hire
          period. Persons under the age of 18 must be accompanied by an adult.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3>DAMAGE</h3>
        <p>
          All damages and breakages are the responsibility of the client and therefore their
          costs are payable in full by the client on demand. Where the amount concerned is less 
          than $300.00 it may be deducted from the security deposit.        
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3>ARRIVALS/DEPARTURES/DELAYS</h3>
        <p>
          Check in times is after <strong>4pm</strong> on the day of arrival. Check out times is before 
          <strong>10am</strong> on the day of departure. <strong>Mintra’s Villa Rental</strong> cannot 
          accept responsibility or liability for clients missing flights due to the late arrival of connecting 
          flights or late arrival at the airport.    
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3>AMENDMENTS</h3>
        <p>
          If, after booking, the client decides to alter any details, <strong>Mintra’s Villa Rental </strong>
          will endeavour to make the requested change provided that <strong>Mintra’s Villa Rental</strong> are informed 
          in writing at least ten weeks prior to arrival. Some alterations requested may incur an administrative 
          fee of up to $65.00 per booking. Alterations requested within ten weeks of arrival may have to be treated 
          as a cancellation.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3>CHANGES or CANCELLATION By Mintra's Villa Rental</h3>
        <p>
          It may become necessary to change the accommodation and
          <strong>Mintra’s Villa Rental</strong> reserve the right to do so at any time. In
          such circumstances, <strong>Mintra’s Villa Rental</strong> would ensure that
          replacement accommodation would be of an equal standard and
          similar location. Should circumstances beyond <strong> Mintra’s Villa Rental</strong>
          control require us to cancel a booking the client will receive a full refund of all
          monies paid.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3>FORCED MAJEURE</h3>
        <p>
          <strong>Mintra’s Villa Rental</strong> accept no responsibility for and shall not be
          liable in respect of loss or damage or changes caused by force majeure events
          (e.g. strikes, fire, flood, closure of airports, weather conditions) or any other event 
          beyond our control.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3>INSURANCE</h3>
        <p>
          The client is strongly advised to take out adequate insurance cover. NEVER
          TRAVEL WITHOUT INSURANCE. <strong> Mintra’s Villa Rental</strong> are not responsible for any 
          deaths, injuries or illness or loss or damage to property, including motor 
          vehicles or to that of any guest however caused.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3>BROCHURE INFORMATION PROVIDED CONCERNING THE ACCOMODATION OR ANY OTHER ASPECT</h3>
        <p>
          Although every effort is made to provide you with accurate information concerning the 
          accommodation, sometimes all information and descriptions given are only a guide and may vary. 
          In the event that mistakes occur we accept no liability. The information on our web-site is a 
          guide to the quality and description of the property, however, layouts may vary. <strong>Mintra’s Villa 
          Rental</strong> reserves the right to make modifications which are shown to be necessary in the light of 
          operating experiences. In the event that unintentional errors, mistakes or omissions occur, 
          <strong>Mintra’s Villa Rental</strong> cannot accept liability for these details.  
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3>DISTANCES</h3>
        <p>
          All distances quoted are only approximate (i.e. accommodation to Walt Disney
          World Resort or other attractions, airport to accommodation, accommodation to
          particular costal resort) and <strong>Mintra’s Villa Rental</strong> accepts no liability if they 
          are not accurate.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3>INTERNET</h3>
        <p>
          Access to the Internet has been provided in the Property as a courtesy and convenience for Client. 
          Client hereby acknowledges and agrees that the Internet access is not integral to this Agreement. No 
          refund of any payment or fee shall be given in case of Internet outages, speed, or access problems. 
          Guests must not order movies from premium channel.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3>COOKING</h3>
        <p>
          Client may only cook in the areas that are designated as such, such as a specific kitchen area. Client 
          is not permitted to create or maintain any open fires.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3>TELEPHONE</h3>
        <p>
          The Property is equipped with a telephone. All long distance calls must be charged to a credit card, 
          billed to Client's home number, or made in conjunction with a long distance calling card. If not, any long 
          distance charges will be billed to Client, in addition to a minimum handling fee of $10.00.
        </p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1">
          <h3>TRASH</h3>
          <p>
            Client shall dispose of trash in the following place and manner:
            Client shall place garbage in bags and put it in proper receptacles located on the side of house. 
          </p>
        </div>
      </div>
  </div>  
  <% include ./partials/footer %>
</body>
</html>
